.section-header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    margin-bottom: 10px;
}

.films-no{
    background-color: #678;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    padding: 5px 0;
}

.image{
    height: 180px;
    max-width: 120px;
}

.image:hover{
    border: 3px solid limegreen;
}

.page-buttons{
    background-color: #283038 !important;
    color: var(--text-color) !important;
    font-size: 10px !important;
    border: 0 !important;
    border-radius: 2px !important;
    height: 50%;
    width: 7%;
}